{
    "openapi": "3.0.1",
    "info": {
        "title": "validateapi",
        "description": "The validation APIs help you validate data. Check if an E-mail address is real. Check if a domain is real. Check up on an IP address, and even where it is located. All this and much more is available in the validation API.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.cloudmersive.com/validate"
        }
    ],
    "paths": {
        "/address/parse": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Parse an unstructured input text string into an international, formatted address",
                "description": "Uses machine learning and Natural Language Processing (NLP) to handle a wide array of cases, including non-standard and unstructured address strings across a wide array of countries and address formatting norms.",
                "operationId": "parseAddress",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParseAddressRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParseAddressRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParseAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParseAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParseAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ParseAddressResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/street-address": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Validate a street address",
                "description": "Determines if an input structured street address is valid or invalid.  If the address is valid, also returns the latitude and longitude of the address.  Supports all major international addresses.",
                "operationId": "validateAddress",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/street-address/normalize": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Normalize a street address",
                "description": "Normalizes an input structured street address is valid or invalid.  If the address is valid, also returns the latitude and longitude of the address.  Supports all major international addresses.",
                "operationId": "normalizeAddress",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NormalizeAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NormalizeAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NormalizeAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NormalizeAddressResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/city": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Validate a City and State/Province combination, get location information about it",
                "description": "Checks if the input city and state name or code is valid, and returns information about it such as normalized City name, State name and more.  Supports all major international addresses.",
                "operationId": "validateCity",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCityRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCityRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCityResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCityResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCityResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCityResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/state": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Validate a state or province, name or abbreviation, get location information about it",
                "description": "Checks if the input state name or code is valid, and returns information about it such as normalized State name and more.  Supports all major countries.",
                "operationId": "validateState",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateStateRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateStateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateStateResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateStateResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateStateResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateStateResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/postal-code": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Validate a postal code, get location information about it",
                "description": "Checks if the input postal code is valid, and returns information about it such as City, State and more.  Supports all major countries.",
                "operationId": "validatePostalCode",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidatePostalCodeRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidatePostalCodeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatePostalCodeResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatePostalCodeResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatePostalCodeResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidatePostalCodeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/country": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Validate and normalize country information, return ISO 3166-1 country codes and country name",
                "description": "Validates and normalizes country information, and returns key information about a country, as well as whether it is a member of the European Union.  Also returns distinct time zones in the country.",
                "operationId": "validateCountry",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/country/list": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Get a list of ISO 3166-1 countries",
                "description": "Enumerates the list of ISO 3166-1 countries, including name, country codes, and more.",
                "operationId": "listCountries",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryListResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryListResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryListResult"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryListResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ]
            }
        },
        "/address/country/check-eu-membership": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Check if a country is a member of the European Union (EU)",
                "description": "Checks if the input country is a member of the European Union or not.",
                "operationId": "checkEuMembership",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/country/get-currency": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Get the currency of the input country",
                "description": "Gets the currency information for the input country, including the ISO three-letter country code, currency symbol, and English currency name.",
                "operationId": "getCountryCurrency",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/country/get-region": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Get the region, subregion and continent of the country",
                "description": "Gets the continent information including region and subregion for the input country.",
                "operationId": "getCountryRegion",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateCountryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateCountryResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/country/get-timezones": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Gets IANA/Olsen time zones for a country",
                "description": "Gets the IANA/Olsen time zones for a country.",
                "operationId": "getTimezones",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetTimezonesRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetTimezonesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTimezonesResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTimezonesResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTimezonesResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTimezonesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/geocode": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Geocode a street address into latitude and longitude",
                "description": "Geocodes a street address into latitude and longitude.",
                "operationId": "geocodeAddress",
                "requestBody": {
                    "description": "Input parse request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateAddressRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAddressResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/address/geocode/reverse": {
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Reverse geocode a lattitude and longitude into an address",
                "description": "Converts lattitude and longitude coordinates into an address through reverse-geocoding.",
                "operationId": "reverseGeocodeAddress",
                "requestBody": {
                    "description": "Input reverse geocoding request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReverseGeocodeAddressRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReverseGeocodeAddressRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodeAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodeAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodeAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReverseGeocodeAddressResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/date-time/get/now": {
            "get": {
                "tags": [
                    "DateTime"
                ],
                "summary": "Get current date and time as of now",
                "description": "Gets the current date and time.  Response time is syncronized with atomic clocks, and represents a monotonic, centrally available, consistent clock.",
                "operationId": "getCurrentDateTime",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeNowResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeNowResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeNowResult"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeNowResult"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ]
            }
        },
        "/date-time/get/holidays": {
            "post": {
                "tags": [
                    "DateTime"
                ],
                "summary": "Get public holidays in the specified country and year",
                "description": "Enumerates all public holidays in a given country for a given year.  Supports over 100 countries.",
                "operationId": "getPublicHolidays",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetPublicHolidaysRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetPublicHolidaysRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicHolidaysResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicHolidaysResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicHolidaysResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicHolidaysResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/date-time/parse/date-time/structured": {
            "post": {
                "tags": [
                    "DateTime"
                ],
                "summary": "Parses a standardized date and time string into a date and time",
                "description": "Parses a structured date and time string into a date time object.  This is intended for standardized date strings that adhere to formatting conventions, rather than natural language input.",
                "operationId": "parseStandardDateTime",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DateTimeStandardizedParseRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DateTimeStandardizedParseRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/date-time/parse/date-time/natural-language": {
            "post": {
                "tags": [
                    "DateTime"
                ],
                "summary": "Parses a free-form natural language date and time string into a date and time",
                "description": "Parses an unstructured, free-form, natural language date and time string into a date time object.  This is intended for lightweight human-entered input, such as \"tomorrow at 3pm\" or \"tuesday\".",
                "operationId": "parseNaturalLanguageDateTime",
                "requestBody": {
                    "description": "Input request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DateTimeNaturalLanguageParseRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DateTimeNaturalLanguageParseRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DateTimeStandardizedParseResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "input"
            }
        },
        "/domain/check": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Validate a domain name",
                "description": "Check whether a domain name is valid or not.  API performs a live validation by contacting DNS services to validate the existence of the domain name.",
                "operationId": "validateDomain",
                "requestBody": {
                    "description": "Domain name to check, for example \"cloudmersive.com\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "domain"
            }
        },
        "/domain/quality-score": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Validate a domain name's quality score",
                "description": "Check the quality of a domain name.  Supports over 9 million domain names.  Higher quality scores indicate more trust and authority in the domain name, with values ranging from 0.0 (low quality) to 10.0 (maximum quality).",
                "operationId": "getDomainQualityScore",
                "requestBody": {
                    "description": "Domain name to check, for example \"cloudmersive.com\"",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainQualityResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainQualityResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainQualityResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/DomainQualityResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "domain"
            }
        },
        "/domain/whois": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Get WHOIS information for a domain",
                "description": "Validate whether a domain name exists, and also return the full WHOIS record for that domain name.  WHOIS records include all the registration details of the domain name, such as information about the domain's owners.",
                "operationId": "getDomainWhois",
                "requestBody": {
                    "description": "Domain name to check, for example \"cloudmersive.com\".   The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WhoisResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WhoisResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/WhoisResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/WhoisResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "domain"
            }
        },
        "/domain/url/syntax-only": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Validate a URL syntactically",
                "description": "Validate whether a URL is syntactically valid (does not check endpoint for validity).  Accepts various types of input and produces a well-formed URL as output.",
                "operationId": "validateUrlSyntax",
                "requestBody": {
                    "description": "Input URL information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestSyntaxOnly"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestSyntaxOnly"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/full": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Validate a URL fully",
                "description": "Validate whether a URL is syntactically valid (does not check endpoint for validity), whether it exists, and whether the endpoint is up and passes virus scan checks.  Accepts various types of input and produces a well-formed URL as output.",
                "operationId": "validateUrl",
                "requestBody": {
                    "description": "Input URL request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestFull"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestFull"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseFull"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseFull"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseFull"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseFull"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/get-top-level-domain": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Get top-level domain name from URL",
                "description": "Gets the top-level domain name from a URL, such as mydomain.com.",
                "operationId": "getTopLevelDomain",
                "requestBody": {
                    "description": "Input URL information",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestSyntaxOnly"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUrlRequestSyntaxOnly"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateUrlResponseSyntaxOnly"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/phishing-threat-check": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check a URL for Phishing threats",
                "description": "Checks if an input URL is at risk of being an Phishing (fake login page, or other page designed to collect information via social engineering) threat or attack.",
                "operationId": "checkUrlPhishing",
                "requestBody": {
                    "description": "Input URL request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhishingCheckRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PhishingCheckRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PhishingCheckResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PhishingCheckResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/PhishingCheckResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/PhishingCheckResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/is-admin-path": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check if path is a high-risk or vulnerable server administration path",
                "description": "Check if the input URL or relative path is a server Administration Path, and therefore a risk or vulnerability for remote access.",
                "operationId": "checkAdminPath",
                "requestBody": {
                    "description": "URL or relative path to check, e.g. \"/admin/login\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IsAdminPathResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IsAdminPathResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IsAdminPathResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IsAdminPathResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/domain/url/safety-threat-check": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check a URL for safety threats",
                "description": "Checks if an input URL is at risk of being a safety threat through malware, unwanted software, or social engineering threats.",
                "operationId": "checkUrlSafety",
                "requestBody": {
                    "description": "Input URL request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSafetyCheckRequestFull"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSafetyCheckRequestFull"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSafetyCheckResponseFull"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSafetyCheckResponseFull"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSafetyCheckResponseFull"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSafetyCheckResponseFull"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/ssrf-threat-check": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check a URL for SSRF threats",
                "description": "Checks if an input URL is at risk of being an SSRF (Server-side request forgery) threat or attack.",
                "operationId": "checkUrlSsrf",
                "requestBody": {
                    "description": "Input URL request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSsrfRequestFull"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSsrfRequestFull"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseFull"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseFull"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseFull"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseFull"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/ssrf-threat-check/batch": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check a URL for SSRF threats in batches",
                "description": "Batch-checks if input URLs are at risk of being an SSRF (Server-side request forgery) threat or attack.",
                "operationId": "checkUrlSsrfBatch",
                "requestBody": {
                    "description": "Input URL request as a batch of multiple URLs",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSsrfRequestBatch"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlSsrfRequestBatch"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseBatch"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseBatch"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseBatch"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlSsrfResponseBatch"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/domain/url/ssrf-threat-check/html-embedded": {
            "post": {
                "tags": [
                    "Domain"
                ],
                "summary": "Check a URL for HTML embedded SSRF threats",
                "description": "Checks if an input URL HTML is at risk of containing one or more embedded SSRF (Server-side request forgery) threats or attacks.",
                "operationId": "checkUrlHtmlSsrf",
                "requestBody": {
                    "description": "Input URL request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlHtmlSsrfRequestFull"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UrlHtmlSsrfRequestFull"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlHtmlSsrfResponseFull"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlHtmlSsrfResponseFull"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlHtmlSsrfResponseFull"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UrlHtmlSsrfResponseFull"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "request"
            }
        },
        "/email/address/syntaxOnly": {
            "post": {
                "tags": [
                    "Email"
                ],
                "summary": "Validate email adddress for syntactic correctness only",
                "description": "Validate whether a given email address is syntactically correct via a limited local-only check.  Use the address/full API to do a full validation.",
                "operationId": "validateEmailSyntax",
                "requestBody": {
                    "description": "Email address to validate, e.g. \"support@cloudmersive.com\".    The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressVerifySyntaxOnlyResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressVerifySyntaxOnlyResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressVerifySyntaxOnlyResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressVerifySyntaxOnlyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/email/address/servers": {
            "post": {
                "tags": [
                    "Email"
                ],
                "summary": "Partially check whether an email address is valid",
                "description": "Validate an email address by identifying whether its parent domain has email servers defined.  This call is less limited than syntaxOnly but not as comprehensive as address/full.",
                "operationId": "checkEmailServers",
                "requestBody": {
                    "description": "Email address to validate, e.g. \"support@cloudmersive.com\".    The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressGetServersResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressGetServersResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressGetServersResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressGetServersResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "email"
            }
        },
        "/email/address/full": {
            "post": {
                "tags": [
                    "Email"
                ],
                "summary": "Fully validate an email address",
                "description": "Performs a full validation of the email address.  Checks for syntactic correctness, identifies the mail server in question if any, and then contacts the email server to validate the existence of the account - without sending any emails.",
                "operationId": "validateEmailFully",
                "requestBody": {
                    "description": "Email address to validate, e.g. \"support@cloudmersive.com\".    The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullEmailValidationResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullEmailValidationResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullEmailValidationResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullEmailValidationResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "email"
            }
        },
        "/ip/intelligence": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Get intelligence on an IP address",
                "description": "Identify key intelligence about an IP address, including if it is a known threat IP, known bot, Tor exit node, as well as the location of the IP address.",
                "operationId": "getIpIntelligence",
                "requestBody": {
                    "description": "IP address to process, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPIntelligenceResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPIntelligenceResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPIntelligenceResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPIntelligenceResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/geolocate": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Geolocate an IP address",
                "description": "Identify an IP address Country, State/Provence, City, Zip/Postal Code, etc.  Useful for security and UX applications.",
                "operationId": "geolocateIp",
                "requestBody": {
                    "description": "IP address to geolocate, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/geolocate/street-address": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Geolocate an IP address to a street address",
                "description": "Identify an IP address's street address.  Useful for security and UX applications.",
                "operationId": "geolocateIpToStreetAddress",
                "requestBody": {
                    "description": "IP address to geolocate, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateStreetAddressResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateStreetAddressResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateStreetAddressResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeolocateStreetAddressResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/is-threat": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Check if IP address is a known threat",
                "description": "Check if the input IP address is a known threat IP address.  Checks against known bad IPs, botnets, compromised servers, and other lists of threats.",
                "operationId": "checkIpThreat",
                "requestBody": {
                    "description": "IP address to check, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPThreatResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPThreatResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPThreatResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPThreatResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/is-tor-node": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Check if IP address is a Tor node server",
                "description": "Check if the input IP address is a Tor exit node server.  Tor servers are a type of privacy-preserving technology that can hide the original IP address who makes a request.",
                "operationId": "checkIpTorNode",
                "requestBody": {
                    "description": "IP address to check, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TorNodeResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TorNodeResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/TorNodeResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/TorNodeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/is-bot": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Check if IP address is a Bot client",
                "description": "Check if the input IP address is a Bot, robot, or otherwise a non-user entity.  Leverages real-time signals to check against known high-probability bots..",
                "operationId": "checkIpBot",
                "requestBody": {
                    "description": "IP address to check, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BotCheckResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BotCheckResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BotCheckResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BotCheckResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/ip/reverse-domain-lookup": {
            "post": {
                "tags": [
                    "IPAddress"
                ],
                "summary": "Perform a reverse domain name (DNS) lookup on an IP address",
                "description": "Gets the domain name, if any, associated with the IP address.",
                "operationId": "reverseLookupIp",
                "requestBody": {
                    "description": "IP address to check, e.g. \"55.55.55.55\".  The input is a string so be sure to enclose it in double-quotes",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPReverseDNSLookupResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPReverseDNSLookupResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPReverseDNSLookupResponse"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/IPReverseDNSLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Apikey": []
                    }
                ],
                "x-codegen-request-body-name": "value"
            }
        },
        "/lead-enrichment/lead/enrich": {
            "post": {
                "tags": [
                    "LeadEnrichment"
                ],
                "summary": "Enrich an input lead with additional fields of data",
                "operationId": "enrichLead",
                "requestBody": {
                    "description": "Input lead with known fields set, and unknown fields left blank (null)",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LeadEnrichmentRequest"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LeadEnrichmentRequest"
                            }
[...]
